@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos Tecprodes</h1>
    <p>Tecnologia,Procesos y Desarrollo Sas</p>
</div>
